<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/static/css/busy.css"/>

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script
src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment-with-locales.min.js"
integrity="sha256-F4eMA/m8RMPXKF2D6cccsZi9tr8t7Mt8J3mK9laOaug="
crossorigin="anonymous"></script>

<script src="/static/js/moment-timezone-with-data-2012-2022.min.js"></script>

</head>

<body>
<div class="container">

<h1>Create New Meeting</h1>

  <br>

  Start Time &emsp;&emsp;&nbsp;&nbsp; End Time &emsp;&emsp;&emsp; Timezone
  <form action="/setrange" method="post">
    <input type="time" name="StartTime" id="StartTime"
    {% if session.startInput is defined %}
         value="{{session.startInput}}"
    {% endif %}>
<input type="time" name="EndTime" id="EndTime"
    {% if session.endInput is defined %}
         value="{{session.endInput}}"
    {% endif %}>
          <select name="timezone" id="timezone">
        <option id="eugeneTime" value="America/Los_Angeles">Eugene, OR</option>
        <option value="UTC">Universal Time</option>
        <option value="America/New_York">US EST/EDT (NY)</option>
  <option value="America/Denver">US MST/MDT (Denver)</option>
  <option value="America/Los_Angeles">US PST/PDT (LA)</option>
  <option value="Pacific/Honolulu">US Pacific (Hawaii)</option>
  <option value="Europe/Lisbon">West Europe (Lisbon)</option>
  <option value="Europe/London">London (GMT)</option>
  <option value="Europe/Paris">Central Europe (Paris)</option>
  <option value="Asia/Tokyo">Tokyo</option>
  <option value="Australia/Melbourne">Australia (Melbourne)</option>    
        <option value="Australia/Perth">Australia (Perth)</option>
      </select>
  <br>
  Date
<br>
  <input type="text" name="daterange" id="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

<br /><input type="submit" value="Create" />
</form>
<hr>
<br>
<h2>Login to existing meeting</h2>
Meeting ID
<form>
<input type="number" id="meetingID">
<input type="button" id="Login" value="Login" />
</form>

<p id="busyEntries" name="busyEntries">
</p>
  <script>
    tz_guess = moment.tz.guess();
    $("#guess_tz").val(tz_guess); 
    $("#guess_tz").html("Time zone: " + tz_guess);

    $("#Login").click(function(event) {
      var meetingID = document.getElementById('meetingID');
      var location = "/meeting/" + meetingID.value;
      window.location = location;
    });

    var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
    var PARSE_TIMES_URL = SCRIPT_ROOT + "/parse_times";

    $('input[name="StartTime"]').change(
         function() {
             var startTime = $(this).val();
                 $.getJSON(PARSE_TIMES_URL, { time:startTime}, 
                  function(data) {
                     var time = data.result;
                     if(time["time"] == "failed"){
                      console.log("Invalid time");
                      document.getElementById("StartTime").value="";
                     }
       } // end of handler function
     );// End of getJSON
    });
    $('input[name="EndTime"]').change(
         function() {
             var endTime = $(this).val();
                 $.getJSON(PARSE_TIMES_URL, { time:endTime }, 
                  function(data) {
                     var time = data.result;
                     if(time["time"] == "failed"){
                      console.log("Invalid time");
                      document.getElementById("EndTime").value="";
                     }
       } // end of handler function
     );// End of getJSON
    });
    function myFunction(id) {
        var calendarEvents = document.getElementsByName("calEvent");
        var checkedEvents = [];
        for(i = 0; i < calendarEvents.length; i++){
          if(calendarEvents[i].checked){
            checkedEvents.push(calendarEvents[i].value);
          }
        }
        var startBounds = document.getElementById("StartTime").value;
        var endBounds = document.getElementById("EndTime").value;
        var dateRanges = document.getElementById("daterange").value;
        $.getJSON("/updateCalendar", { val: JSON.stringify(checkedEvents), startTime: startBounds, endTime: endBounds, dates: dateRanges , tz:timeZone}, 
          function(data) { 
              var toList = data.result;
              var listLength = toList.length;
              document.getElementById("busyEntries").innerHTML = "";
              for(var i = 0; i < listLength; i++){
                    var newElement = document.createElement("W");
                    newElement.setAttribute('id', toList[i]);
                    if(toList[i].substring(0,1) != "f" && toList[i].substring(0,1) != "b"){
                        newElement.innerHTML = ("<h5>" + "<br>" + toList[i] + "\n");
                    }
                    else{
                        newElement.innerHTML = ("<li>" + toList[i] + "\n");
                    }
                    
                    $("#busyEntries").append(newElement);

              }

        });
    }
  </script>

  </div>  <!-- container (for bootstrap) -->
  </body> </html>
